.chap9text {
    font-family: cursive;
}

.chap9 {
    color: blue;
}

.chap9 {
    color: blue;
}

.chap10 {
    color: red;
}

img {
    width: 50%;
}

.chap11 {
    color: purple;
}

.chap12{
    color: gold;
}